<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
      <add key="globalPackagesFolder" value=".\Packages" />
	    <add key="repositoryPath" value=".\Packages" />
    </config>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
  <packageSources>
    <clear />
    <add key="NuGets" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>